/*
    BANNER SECTION
*/

#banner{

    background-image: url(../../assets/backgroundimg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .space{
        display: flex;
        justify-content: center;
        padding-top: 14rem;
        width: 100%;
        height: 800px;
        color: white;  

         .buttons{
            > a{
                margin-right: .7rem;
                padding: .4rem 1.8rem;
                &:hover{
                    background: white !important;
                    > span{
                        color: $dark;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px){
        .space{
            padding-top: 10rem;
            height: 700px;
        }
    }
    
}